In [40]:
import pandas as pd
import numpy as np
import re 
import json
import datetime as dt

In [41]:
data = pd.read_json('data.json')
df = data.copy()
df.dtypes

Intitulé du poste      object
Date de publication    object
lieu                   object
competences            object
Type de poste          object
dtype: object

In [42]:
df.shape

(230, 5)

In [43]:
df = df.replace('\n','', regex=True)
df['Intitulé du poste'] = [' '.join(item).replace('\n', '').lower() for item in df['Intitulé du poste']]
df['lieu'] = [', '.join(item).replace('\n', '').lower() for item in df['lieu']]
df['competences'] = [' '.join(item).replace('\n', '').replace(' ', ', ').lower() for item in df['competences']]
df['Type de poste'] = [''.join(item).replace('\n', ', ').replace(', , ', '').lower().strip() for item in df['Type de poste']]
# df[['lieu', 'salary']] = df["lieu"].str.split(",", expand = True, n=1)
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,data analyst - publicité,postée il y a 21 jours,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement, cdi -..."
1,data analyst - h/f,postée il y a 1 mois,"paris, la défense","support, outils, agile, design, big, data","edf france, client final, cdi - temps plein,"
2,customer data analyst (h/f),postée il y a 27 jours,paris,"crm, data, quality, sql, sas, python","hermès, client final, cdi - temps plein,"
3,master data analyst h/f,postée il y a 21 jours,moussy-le-vieux,"si, support, sap","tereos, client final, cdi - temps plein,"
4,portfolio data analyst h/f,postée il y a 3 jours,france,"outils, support, decisionnel, sql, test","safran-group, client final, cdi - temps plein,"
...,...,...,...,...,...
225,sap fiori developer (h/f),postée il y a 27 jours,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final, cdi - temps plein,"
226,engie digital - architecte données (h/f),postée il y a 3 jours,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final, cdi - temps plein,"
227,quality assurance - lead qa - lead acceptance h/f,postée il y a 2 heures,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final, cdi - temps ..."
228,data scientist,postée il y a 16 jours,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn, cdi - temps plein,"
229,datascientist (h/f),postée il y a 3 jours,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final, cdi - temps plein,"

In [44]:
y = [' '.join(element.split()) for element in df['Date de publication']]

In [45]:
date0 = dt.date(2023, 1, 15)
dates = []
for item in y:
    delai = item.split()
    if delai[-1] == "jours":
        delta = dt.timedelta(days=int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'mois':
        delta = dt.timedelta(weeks=4*int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'heures':
        delta = dt.timedelta(hours=int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'hier':
        date = dt.date(2013, 1, 14)
        dates.append(date)
df['Date de publication'] = dates
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement, cdi -..."
1,data analyst - h/f,2022-12-18,"paris, la défense","support, outils, agile, design, big, data","edf france, client final, cdi - temps plein,"
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python","hermès, client final, cdi - temps plein,"
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap","tereos, client final, cdi - temps plein,"
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test","safran-group, client final, cdi - temps plein,"
...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final, cdi - temps plein,"
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final, cdi - temps plein,"
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final, cdi - temps ..."
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn, cdi - temps plein,"
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final, cdi - temps plein,"

In [46]:
# format des colonnes salaires
s = [item for item in df['lieu']]
pat = re.compile(r'^((\d)[0-9]*)[0-9]\.(\d){2}$')
salaires = []
for item in s:
    test = bool(re.search(r'\d', item))
    if test == True:
        salaires.append(item)
    else:
        salaires.append(np.nan)

salaries = []
for item in salaires:
    if type(item) is float:
        salaries.append(item)
    elif type(item) is str:
        element = item.split(',')[1:]
        if len(element) >= 2:
            salaries.append(' '.join(element))
        else:
            salaries.append(np.nan)
df['salaires'] = salaries
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaires
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement, cdi -...",NaN
1,data analyst - h/f,2022-12-18,"paris, la défense","support, outils, agile, design, big, data","edf france, client final, cdi - temps plein,",NaN
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python","hermès, client final, cdi - temps plein,",NaN
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap","tereos, client final, cdi - temps plein,",NaN
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test","safran-group, client final, cdi - temps plein,",NaN
...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final, cdi - temps plein,",NaN
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final, cdi - temps plein,",NaN
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final, cdi - temps ...",NaN
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn, cdi - temps plein,",38.000 00 € - 50.000 00 € / an
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final, cdi - temps plein,",NaN

In [47]:
# For the column of 'Type de contra' et 'Nom de la société' from original coulmn 'Type de poste'
df[['Nom de la société','Type de la société', 'Type de contrat']] = df["Type de poste"].str.split(",", expand = True, n=2)

df[['Type de contrat', 'temps travail_1']] = df["Type de contrat"].str.split("-", expand = True, n=2)
df[['Type de contrat', 'temps travail_2']] = df["Type de contrat"].str.split("/", expand = True, n=1)

df["Type de contrat"] = [''.join(item).replace(',', '').replace(' ', '') for item in df['Type de contrat']]

#Remove the 3 columns: 'temps travail_1' and 'temps travail_2','Type de la société'
df = df.drop(columns=['temps travail_1', 'temps travail_2', 'Type de la société'])
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaires,Nom de la société,Type de contrat
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement, cdi -...",NaN,sept lieues sas,cdi
1,data analyst - h/f,2022-12-18,"paris, la défense","support, outils, agile, design, big, data","edf france, client final, cdi - temps plein,",NaN,edf france,cdi
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python","hermès, client final, cdi - temps plein,",NaN,hermès,cdi
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap","tereos, client final, cdi - temps plein,",NaN,tereos,cdi
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test","safran-group, client final, cdi - temps plein,",NaN,safran-group,cdi
...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final, cdi - temps plein,",NaN,groupe engie,cdi
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final, cdi - temps plein,",NaN,groupe engie,cdi
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final, cdi - temps ...",NaN,francaise des jeux,cdi
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn, cdi - temps plein,",38.000 00 € - 50.000 00 € / an,beezen,cdi
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final, cdi - temps plein,",NaN,groupe engie,cdi

In [48]:
df[['salaire_minimum', 'salaire_maximum']] = df["salaires"].str.split("-", expand = True, n=1)
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaires,Nom de la société,Type de contrat,salaire_minimum,salaire_maximum
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement, cdi -...",NaN,sept lieues sas,cdi,NaN,NaN
1,data analyst - h/f,2022-12-18,"paris, la défense","support, outils, agile, design, big, data","edf france, client final, cdi - temps plein,",NaN,edf france,cdi,NaN,NaN
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python","hermès, client final, cdi - temps plein,",NaN,hermès,cdi,NaN,NaN
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap","tereos, client final, cdi - temps plein,",NaN,tereos,cdi,NaN,NaN
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test","safran-group, client final, cdi - temps plein,",NaN,safran-group,cdi,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final, cdi - temps plein,",NaN,groupe engie,cdi,NaN,NaN
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final, cdi - temps plein,",NaN,groupe engie,cdi,NaN,NaN
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final, cdi - temps ...",NaN,francaise des jeux,cdi,NaN,NaN
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn, cdi - temps plein,",38.000 00 € - 50.000 00 € / an,beezen,cdi,38.000 00 €,50.000 00 € / an
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final, cdi - temps plein,",NaN,groupe engie,cdi,NaN,NaN

In [49]:
# Formatage du des colonnes salaires et conversion des valeurs string en float
df['salaire_minimum'] = df['salaire_minimum'].replace(to_replace='00 €', value='', regex=True)
df['salaire_maximum'] = df['salaire_maximum'].replace(to_replace='00 € / an', value='', regex=True)
df['salaire_minimum'] = df['salaire_minimum'].astype(float) * 1000
df['salaire_maximum'] = df['salaire_maximum'].astype(float) * 1000
df = df.drop('salaires', axis=1)
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,Nom de la société,Type de contrat,salaire_minimum,salaire_maximum
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement, cdi -...",sept lieues sas,cdi,NaN,NaN
1,data analyst - h/f,2022-12-18,"paris, la défense","support, outils, agile, design, big, data","edf france, client final, cdi - temps plein,",edf france,cdi,NaN,NaN
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python","hermès, client final, cdi - temps plein,",hermès,cdi,NaN,NaN
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap","tereos, client final, cdi - temps plein,",tereos,cdi,NaN,NaN
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test","safran-group, client final, cdi - temps plein,",safran-group,cdi,NaN,NaN
...,...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final, cdi - temps plein,",groupe engie,cdi,NaN,NaN
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final, cdi - temps plein,",groupe engie,cdi,NaN,NaN
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final, cdi - temps ...",francaise des jeux,cdi,NaN,NaN
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn, cdi - temps plein,",beezen,cdi,38000.0,50000.0
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final, cdi - temps plein,",groupe engie,cdi,NaN,NaN

In [50]:
# médianne = 60 000
median_max = 60000
df['salaire_maximum'].describe()

count        42.000000
mean      62428.571429
std       10965.895817
min       45000.000000
25%       55250.000000
50%       60000.000000
75%       65000.000000
max      100000.000000
Name: salaire_maximum, dtype: float64

In [51]:
# médianne = 45 000 
median_min = 45000
df['salaire_minimum'].describe()

count       42.000000
mean     47476.190476
std      10523.465290
min      30000.000000
25%      40000.000000
50%      45000.000000
75%      59250.000000
max      70000.000000
Name: salaire_minimum, dtype: float64

In [52]:
df['salaire_minimum'].fillna(median_min, inplace=True)
df['salaire_maximum'].fillna(median_max, inplace=True)
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,Nom de la société,Type de contrat,salaire_minimum,salaire_maximum
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils","sept lieues sas, cabinet de recrutement, cdi -...",sept lieues sas,cdi,45000.0,60000.0
1,data analyst - h/f,2022-12-18,"paris, la défense","support, outils, agile, design, big, data","edf france, client final, cdi - temps plein,",edf france,cdi,45000.0,60000.0
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python","hermès, client final, cdi - temps plein,",hermès,cdi,45000.0,60000.0
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap","tereos, client final, cdi - temps plein,",tereos,cdi,45000.0,60000.0
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test","safran-group, client final, cdi - temps plein,",safran-group,cdi,45000.0,60000.0
...,...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support","groupe engie, client final, cdi - temps plein,",groupe engie,cdi,45000.0,60000.0
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql","groupe engie, client final, cdi - temps plein,",groupe engie,cdi,45000.0,60000.0
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd","francaise des jeux, client final, cdi - temps ...",francaise des jeux,cdi,45000.0,60000.0
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an","nosql, unix, java, machine, learning, linux","beezen, esn, cdi - temps plein,",beezen,cdi,38000.0,50000.0
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité","groupe engie, client final, cdi - temps plein,",groupe engie,cdi,45000.0,60000.0

In [53]:
lieu = [item.split() for item in df['lieu']]
liste_lieu = []
for item in lieu:
    if len(item) > 5:
        liste_lieu.append(' '.join(item).split(',')[0])
    else:
        liste_lieu.append(' '.join(item))
liste_lieu
df['lieu'] = liste_lieu

In [54]:
df = df.drop('Type de poste', axis=1)
df

,Intitulé du poste,Date de publication,lieu,competences,Nom de la société,Type de contrat,salaire_minimum,salaire_maximum
0,data analyst - publicité,2022-12-25,paris,"sql, t-sql, outils",sept lieues sas,cdi,45000.0,60000.0
1,data analyst - h/f,2022-12-18,"paris, la défense","support, outils, agile, design, big, data",edf france,cdi,45000.0,60000.0
2,customer data analyst (h/f),2022-12-19,paris,"crm, data, quality, sql, sas, python",hermès,cdi,45000.0,60000.0
3,master data analyst h/f,2022-12-25,moussy-le-vieux,"si, support, sap",tereos,cdi,45000.0,60000.0
4,portfolio data analyst h/f,2023-01-12,france,"outils, support, decisionnel, sql, test",safran-group,cdi,45000.0,60000.0
...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,"sap, abap, progiciel, système, support",groupe engie,cdi,45000.0,60000.0
226,engie digital - architecte données (h/f),2023-01-12,paris,"digital, outils, securité, sécurité, t-sql",groupe engie,cdi,45000.0,60000.0
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,"test, serveur, jquery, mobile, tdd",francaise des jeux,cdi,45000.0,60000.0
228,data scientist,2022-12-30,neuilly sur seine,"nosql, unix, java, machine, learning, linux",beezen,cdi,38000.0,50000.0
229,datascientist (h/f),2023-01-12,saint-ouen,"big, data, support, python, réseaux, securité",groupe engie,cdi,45000.0,60000.0

In [55]:
# Nettoyage de la colonne Intitulé de poste, mode = data scientist
liste_postes = []
postes = [item for item in df['Intitulé du poste'].str.strip()]
for item in postes:
    if 'business' in item:
        liste_postes.append('business analyst')
    elif 'analyst' in item:
        liste_postes.append('data analyst')
    elif 'scientist' in item:
        liste_postes.append('data scientist')
    elif 'data engineer' in item:
        liste_postes.append('data engineer')
    elif 'chef de projet' in item:
        liste_postes.append('chef de projet')
    elif 'ingénieur' in item:
        liste_postes.append('engineer')
    elif 'architect' in item:
        liste_postes.append('architect')
    elif 'developer' in item:
        liste_postes.append('developer')
    elif 'développeur' in item:
        liste_postes.append('developer')
    elif 'developpeur' in item:
        liste_postes.append('developer')
    elif 'expert' in item:
        liste_postes.append('expert')
    elif 'consultant' in item:
        liste_postes.append('consultant')
    else:
        liste_postes.append('data scientist')
    
df['Intitulé du poste'] = liste_postes
df['Intitulé du poste'].value_counts()

data scientist      75
engineer            40
data analyst        30
business analyst    16
developer           16
chef de projet      14
consultant          12
architect           11
expert              10
data engineer        6
Name: Intitulé du poste, dtype: int64

In [56]:
# formatage du nom de l'entreprise
names = [item for item in df['Nom de la société'].str.split()]
names
clean_names = []
for name in names:
    if 'societe general' in name:
        clean_names.append('societe general')
    else:
        clean_names(name)
df['Nom de la société'] = clean_names
df['Nom de la société'].value_counts()

TypeError: 'list' object is not callable

In [ ]:
df.to_csv('clean_data.csv')