In [230]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [231]:
data = pd.read_csv('clean_data.csv')
df = data.copy()
df = df.drop(['Unnamed: 0', 'Date de publication', 'lieu'], axis=1)
df['Type de contrat'].fillna('cdi', inplace=True)
df

,Intitulé du poste,competences,Nom de la société,Type de contrat,salaire_minimum,salaire_maximum
0,data analyst,"support, sql, data, management, business, obje...",fed it,cdd,45000.0,50000.0
1,data analyst,"data, management, business, intelligence, base...",fed it,cdi,60000.0,62000.0
2,data scientist,"marketing, data, management, support",fed it,cdi,60000.0,65000.0
3,consultant,"big, data, oracle, cloud, sap, python",selescope,cdi,60000.0,70000.0
4,chef de projet,"marketing, outils, digital, ux, mobile",hays france,cdi,60000.0,70000.0
5,data scientist,"si, data, management, data, quality, méthodolo...",michael page,cdi,55000.0,60000.0
6,business analyst,"business, intelligence, crm, intelligence, art...",selescope,cdi,70000.0,100000.0
7,business analyst,"intelligence, artificielle, business, intellig...",selescope,cdi,70000.0,100000.0
8,business analyst,"business, intelligence, marketing, intelligenc...",fed it,cdi,35000.0,45000.0
9,data scientist,"machine, learning, méthodologie, agile",key consulting,cdi,45000.0,70000.0
10,business analyst,"recette, si, big, data, intelligence, artifici...",mr search,cdi,50000.0,80000.0
11,chef de projet,agile,nexton consulting,cdi,30000.0,60000.0
12,data analyst,"support, sql, data, management, business, obje...",fed it,cdd,45000.0,50000.0
13,data analyst,"data, management, business, intelligence, base...",fed it,cdi,60000.0,62000.0
14,data scientist,"marketing, data, management, support",fed it,cdi,60000.0,65000.0
15,consultant,"big, data, oracle, cloud, sap, python",selescope,cdi,60000.0,70000.0
16,chef de projet,"marketing, outils, digital, ux, mobile",hays france,cdi,60000.0,70000.0
17,engineer,"sécurité, securité, réseaux, lan, support",uniware global services,cdi,45000.0,60000.0
18,engineer,"devops, jenkins, outils, linux, infrastructure",uniware global services,cdi,42000.0,60000.0
19,engineer,"support, vmware, python, javascript, securité",uniware global services,cdi,40000.0,55000.0
20,data scientist,"support, communication, big, data, cloud, hadoop",fed it,cdi,57000.0,62000.0
21,engineer,"vmware, support, windows, microsoft, système",uniware global services,cdi,40000.0,55000.0
22,engineer,"cloud, saas, paas, iaas, infrastructure",uniware global services,cdi,40000.0,60000.0
23,engineer,"windows, unix, cft, réseaux, outils",uniware global services,cdi,40000.0,60000.0
24,engineer,"réseau, cisco, réseaux, sécurité, securité",uniware global services,cdi,40000.0,60000.0
25,engineer,"middleware, support, infrastructure, optimisat...",uniware global services,cdi,45000.0,60000.0
26,architect,"infrastructure, support, si, système",uniware global services,cdi,40000.0,60000.0
27,engineer,"cloud, support, python, paas, securité",uniware global services,cdi,38000.0,56000.0
28,architect,"poste, de, travail, microsoft, support, cloud,...",uniware global services,cdi,50000.0,70000.0
29,engineer,"cloud, securité, devops, sécurité, si",uniware global services,cdi,50000.0,60000.0
30,engineer,"réseaux, sécurité, securité, infrastructure, wan",uniware global services,cdi,38000.0,55000.0
31,engineer,"linux, unix, windows, hp, infrastructure",uniware global services,cdi,38000.0,55000.0
32,engineer,"devops, outils, linux, infrastructure, jenkins",uniware global services,cdi,40000.0,60000.0
33,engineer,"cloud, devops, sécurité, securité, sql, server",uniware global services,cdi,45000.0,60000.0
34,developer,"java, j2ee, web, jboss, sécurité",synchrone,cdi,45000.0,65000.0
35,engineer,"cloud, web, devops, python, infrastructure",uniware global services,cdi,40000.0,60000.0
36,developer,"angularjs, agile, web, framework, outils",synchrone,cdi,30000.0,50000.0
37,expert,"middleware, weblogic, unix, support, tomcat",uniware global services,cdi,40000.0,60000.0
38,engineer,"linux, unix, système, infrastructure, support",uniware global services,cdi,38000.0,55000.0
39,data scientist,"web, spring, si, sécurité, digital",mr search,cdi,65000.0,70000.0
40,engineer,"système, windows, microsoft, cloud, maintenance",experteam,cdi,45000.0,55000.0
41,data scientist,"nosql, unix, java, machine, learning, linux",beezen,cdi,38000.0,50000.0

In [232]:
# transformation de la colonne compétences
df['competences'] = df['competences'].fillna('agile, sql, support, python, bootstrap')
cv = CountVectorizer() 
trans_comp = cv.fit_transform(df['competences']).toarray()
trans_comp
# 
# trans_comp = cv.fit_transform(df['competences'])
# trans_comp

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]])

In [233]:
ohe = OneHotEncoder()
X_cat = df.select_dtypes(include=[object])
X_cat = X_cat.drop('competences', axis=1)
X_cat = ohe.fit_transform(X_cat).toarray()
X_cat

array([[0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 1., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1.]])

In [235]:
y = df['salaire_maximum']
X = pd.concat([pd.DataFrame(X_cat), pd.DataFrame(trans_comp)])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

line_reg = LinearRegression()
line_reg.fit(X_train, y_train)
prediction = line_reg.predict(X_test)

linear_score = r2_score(y_test, prediction)
print("LR :", round(linear_score, 5))

LR : 0.26142