In [18]:
import pandas as pd
import plotly.express as px

In [19]:
data = pd.read_csv('clean_data.csv', sep=',')
df = data.copy()
df = df.drop('Unnamed: 0', axis=1)
df.dtypes

Intitulé du poste       object
Date de publication     object
lieu                    object
competences             object
Nom de la société       object
Type de contrat         object
salaire_minimum        float64
salaire_maximum        float64
dtype: object

In [20]:
df.isnull().mean() * 100

Intitulé du poste      0.000000
Date de publication    0.000000
lieu                   0.000000
competences            0.434783
Nom de la société      0.869565
Type de contrat        3.913043
salaire_minimum        0.000000
salaire_maximum        0.000000
dtype: float64

In [21]:
# Analyse Target : salaire minimum, salaire maximum
df['salaire_maximum'].value_counts(normalize=True)

60000.0     0.878261
70000.0     0.030435
55000.0     0.026087
50000.0     0.017391
62000.0     0.013043
65000.0     0.013043
100000.0    0.008696
45000.0     0.004348
80000.0     0.004348
56000.0     0.004348
Name: salaire_maximum, dtype: float64

In [22]:
df['salaire_minimum'].value_counts(normalize=True)

45000.0    0.852174
40000.0    0.039130
60000.0    0.034783
38000.0    0.021739
50000.0    0.013043
70000.0    0.008696
30000.0    0.008696
55000.0    0.004348
35000.0    0.004348
42000.0    0.004348
57000.0    0.004348
65000.0    0.004348
Name: salaire_minimum, dtype: float64

In [ ]:
for col in df.dtypes('float'):
    fig = px.histogram(df[col])