In [1]:
import pandas as pd
import numpy as np
import re 
import json
import datetime as dt

In [2]:
def get_competence(series):
  list_comp = []  
  for i in series:
    comp = re.sub("\n", "", str(i))
    list_comp.append(comp)

  return(list_comp)

def salaire(series, mode):
  # Definition de l'index pour le split des salaires min ou max
  if mode == "min":
    index = 0
  if mode == "max":
    index = 1
  
  # Identification si le salaire est present, et extraction le cas échéant
  if '€' in re.findall('€', str(series)):
    salaire = re.sub('\W+', '', series[1].split(" - ")[index].split(",")[0])
    salaire = int(re.sub(r"[^Z0-9]+",'', salaire))
  else:
    salaire = np.nan

  return(salaire)

In [3]:
data = pd.read_json('data.json')
df = data.copy()
df.shape

(230, 5)

In [4]:
df['salaire_minimum'] = df['lieu'].apply(salaire, mode="min")
df['salaire_maximum'] = df['lieu'].apply(salaire, mode="max")
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaire_minimum,salaire_maximum
0,[\nData Analyst - Publicité\n],\npostée il y a 21 jours\n,[\nParis\n],"[\nsql\n, \nt-sql\n, \noutils\n]","[\n, \n, Sept Lieues SAS, \n, Cabinet de recru...",NaN,NaN
1,[Data analyst - H/F\n],\npostée il y a 1 mois\n,"[\nParis, La Défense\n]","[\nsupport\n, \noutils\n, \nagile\n, \ndesign\...","[\n, \n, EDF France, \n, Client final, \n, \n,...",NaN,NaN
2,[Customer Data Analyst (H/F)\n],\npostée il y a 27 jours\n,[\nParis\n],"[\ncrm\n, \ndata quality\n, \nsql\n, \nsas\n, ...","[\n, \n, Hermès, \n, Client final, \n, \n, \nC...",NaN,NaN
3,[Master Data Analyst H/F\n],\npostée il y a 21 jours\n,[\nMoussy-le-Vieux\n],"[\nsi\n, \nsupport\n, \nsap\n]","[\n, \n, TEREOS, \n, Client final, \n, \n, \nC...",NaN,NaN
4,[Portfolio Data Analyst H/F\n],\npostée il y a 3 jours\n,[\nFrance\n],"[\noutils\n, \nsupport\n, \ndecisionnel\n, \ns...","[\n, \n, Safran-Group, \n, Client final, \n, \...",NaN,NaN
...,...,...,...,...,...,...,...
225,[SAP Fiori Developer (H/F)\n],\npostée il y a 27 jours\n,[\nSaint-Ouen\n],"[\nsap\n, \nabap\n, \nprogiciel\n, \nsystème\n...","[\n, \n, Groupe ENGIE, \n, Client final, \n, \...",NaN,NaN
226,[ENGIE Digital - Architecte Données (H/F)\n],\npostée il y a 3 jours\n,[\nParis\n],"[\ndigital\n, \noutils\n, \nsecurité\n, \nsécu...","[\n, \n, Groupe ENGIE, \n, Client final, \n, \...",NaN,NaN
227,[Quality Assurance - Lead QA - Lead Acceptance...,\npostée il y a 2 heures\n,[\nBoulogne-Billancourt\n],"[\ntest\n, \nserveur\n, \njquery\n, \nmobile\n...","[\n, \n, Francaise des jeux, \n, Client final,...",NaN,NaN
228,[\nDATA SCIENTIST\n],\npostée il y a 16 jours\n,"[\nNEUILLY SUR SEINE\n, \n38.000,00 € - 50.000...","[\nnosql\n, \nunix\n, \njava\n, \nmachine lear...","[\n, \n, BEEZEN, \n, ESN, \n, \n, \nCDI - temp...",38000.0,50000.0
229,[Datascientist (H/F)\n],\npostée il y a 3 jours\n,[\nSaint-Ouen\n],"[\nbig data\n, \nsupport\n, \npython\n, \nrése...","[\n, \n, Groupe ENGIE, \n, Client final, \n, \...",NaN,NaN

In [5]:
df = df.replace('\n','', regex=True)
df['Intitulé du poste'] = [' '.join(item).replace('\n', '').lower() for item in df['Intitulé du poste']]
df['lieu'] = [', '.join(item).replace('\n', '').lower() for item in df['lieu']]
df['competences'] = data['competences'].apply(get_competence).apply(lambda x: ' '.join(x)).replace('', ',', regex=True)
df['Type de poste'] = [''.join(item).replace('\n', ', ').replace(', , ', '').lower().strip() for item in df['Type de poste']]
# df[['lieu', 'salary']] = df["lieu"].str.split(",", expand = True, n=1)
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaire_minimum,salaire_maximum
0,data analyst - publicité,postée il y a 21 jours,paris,sql t-sql outils,"sept lieues sas, cabinet de recrutement, cdi -...",NaN,NaN
1,data analyst - h/f,postée il y a 1 mois,"paris, la défense",support outils agile design big data,"edf france, client final, cdi - temps plein,",NaN,NaN
2,customer data analyst (h/f),postée il y a 27 jours,paris,crm data quality sql sas python,"hermès, client final, cdi - temps plein,",NaN,NaN
3,master data analyst h/f,postée il y a 21 jours,moussy-le-vieux,si support sap,"tereos, client final, cdi - temps plein,",NaN,NaN
4,portfolio data analyst h/f,postée il y a 3 jours,france,outils support decisionnel sql test,"safran-group, client final, cdi - temps plein,",NaN,NaN
...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),postée il y a 27 jours,saint-ouen,sap abap progiciel système support,"groupe engie, client final, cdi - temps plein,",NaN,NaN
226,engie digital - architecte données (h/f),postée il y a 3 jours,paris,digital outils securité sécurité t-sql,"groupe engie, client final, cdi - temps plein,",NaN,NaN
227,quality assurance - lead qa - lead acceptance h/f,postée il y a 2 heures,boulogne-billancourt,test serveur jquery mobile tdd,"francaise des jeux, client final, cdi - temps ...",NaN,NaN
228,data scientist,postée il y a 16 jours,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an",nosql unix java machine learning linux,"beezen, esn, cdi - temps plein,",38000.0,50000.0
229,datascientist (h/f),postée il y a 3 jours,saint-ouen,big data support python réseaux securité,"groupe engie, client final, cdi - temps plein,",NaN,NaN

In [6]:
y = [' '.join(element.split()) for element in df['Date de publication']]

In [7]:
date0 = dt.date(2023, 1, 15)
dates = []
for item in y:
    delai = item.split()
    if delai[-1] == "jours":
        delta = dt.timedelta(days=int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'mois':
        delta = dt.timedelta(weeks=4*int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'heures':
        delta = dt.timedelta(hours=int(delai[-2]))
        date = date0 - delta
        dates.append(date)
    elif delai[-1] == 'hier':
        date = dt.date(2013, 1, 14)
        dates.append(date)
df['Date de publication'] = dates
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaire_minimum,salaire_maximum
0,data analyst - publicité,2022-12-25,paris,sql t-sql outils,"sept lieues sas, cabinet de recrutement, cdi -...",NaN,NaN
1,data analyst - h/f,2022-12-18,"paris, la défense",support outils agile design big data,"edf france, client final, cdi - temps plein,",NaN,NaN
2,customer data analyst (h/f),2022-12-19,paris,crm data quality sql sas python,"hermès, client final, cdi - temps plein,",NaN,NaN
3,master data analyst h/f,2022-12-25,moussy-le-vieux,si support sap,"tereos, client final, cdi - temps plein,",NaN,NaN
4,portfolio data analyst h/f,2023-01-12,france,outils support decisionnel sql test,"safran-group, client final, cdi - temps plein,",NaN,NaN
...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,sap abap progiciel système support,"groupe engie, client final, cdi - temps plein,",NaN,NaN
226,engie digital - architecte données (h/f),2023-01-12,paris,digital outils securité sécurité t-sql,"groupe engie, client final, cdi - temps plein,",NaN,NaN
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,test serveur jquery mobile tdd,"francaise des jeux, client final, cdi - temps ...",NaN,NaN
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an",nosql unix java machine learning linux,"beezen, esn, cdi - temps plein,",38000.0,50000.0
229,datascientist (h/f),2023-01-12,saint-ouen,big data support python réseaux securité,"groupe engie, client final, cdi - temps plein,",NaN,NaN

In [8]:
# For the column of 'Type de contra' et 'Nom de la société' from original coulmn 'Type de poste'
df[['Nom de la société','Type de la société', 'Type de contrat']] = df["Type de poste"].str.split(",", expand = True, n=2)

df[['Type de contrat', 'temps travail_1']] = df["Type de contrat"].str.split("-", expand = True, n=2)
df[['Type de contrat', 'temps travail_2']] = df["Type de contrat"].str.split("/", expand = True, n=1)

df["Type de contrat"] = [''.join(item).replace(',', '').replace(' ', '') for item in df['Type de contrat']]

#Remove the 3 columns: 'temps travail_1' and 'temps travail_2','Type de la société'
df = df.drop(columns=['temps travail_1', 'temps travail_2', 'Type de la société'])
df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaire_minimum,salaire_maximum,Nom de la société,Type de contrat
0,data analyst - publicité,2022-12-25,paris,sql t-sql outils,"sept lieues sas, cabinet de recrutement, cdi -...",NaN,NaN,sept lieues sas,cdi
1,data analyst - h/f,2022-12-18,"paris, la défense",support outils agile design big data,"edf france, client final, cdi - temps plein,",NaN,NaN,edf france,cdi
2,customer data analyst (h/f),2022-12-19,paris,crm data quality sql sas python,"hermès, client final, cdi - temps plein,",NaN,NaN,hermès,cdi
3,master data analyst h/f,2022-12-25,moussy-le-vieux,si support sap,"tereos, client final, cdi - temps plein,",NaN,NaN,tereos,cdi
4,portfolio data analyst h/f,2023-01-12,france,outils support decisionnel sql test,"safran-group, client final, cdi - temps plein,",NaN,NaN,safran-group,cdi
...,...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,sap abap progiciel système support,"groupe engie, client final, cdi - temps plein,",NaN,NaN,groupe engie,cdi
226,engie digital - architecte données (h/f),2023-01-12,paris,digital outils securité sécurité t-sql,"groupe engie, client final, cdi - temps plein,",NaN,NaN,groupe engie,cdi
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,test serveur jquery mobile tdd,"francaise des jeux, client final, cdi - temps ...",NaN,NaN,francaise des jeux,cdi
228,data scientist,2022-12-30,"neuilly sur seine, 38.000,00 € - 50.000,00 € / an",nosql unix java machine learning linux,"beezen, esn, cdi - temps plein,",38000.0,50000.0,beezen,cdi
229,datascientist (h/f),2023-01-12,saint-ouen,big data support python réseaux securité,"groupe engie, client final, cdi - temps plein,",NaN,NaN,groupe engie,cdi

In [9]:
lieu = [item.split() for item in df['lieu']]

liste_lieu = []
for item in lieu:
    print(item)
    if len(item) > 5:
        liste_lieu.append(' '.join(item).split(',')[0])
    else:
        liste_lieu.append(' '.join(item))

df['lieu'] = liste_lieu
df

['paris']
['paris,', 'la', 'défense']
['paris']
['moussy-le-vieux']
['france']
['maisons', 'alfort,', '45.000,00', '€', '-', '50.000,00', '€', '/', 'an']
['paris']
['paris,', '60.000,00', '€', '-', '62.000,00', '€', '/', 'an']
['paris']
['rueil-malmaison']
['paris']
['la', 'defense']
['suresnes']
['saint-ouen']
['rueil', 'malmaison,', '60.000,00', '€', '-', '65.000,00', '€', '/', 'an']
['puteaux']
['paris,', '60.000,00', '€', '-', '70.000,00', '€', '/', 'an']
['paris']
['fontenay-sous-bois']
['gennevilliers,', '60.000,00', '€', '-', '70.000,00', '€', '/', 'an']
['paris']
['boulogne-billancourt,', '55.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['saint-germain-en-laye']
['saint-germain-en-laye']
['suresnes,', '70.000,00', '€', '-', '100.000,00', '€', '/', 'an']
['suresnes,', '70.000,00', '€', '-', '100.000,00', '€', '/', 'an']
['la', 'défense,', 'île', 'de', 'france,', 'fr']
['paris,', 'la', 'défense']
['rueil', 'malmaison,', '35.000,00', '€', '-', '45.000,00', '€', '/', 'an']
['ile-de-france']
['paris']
['ile', 'de', 'france']
['rueil-malmaison']
['ile', 'de', 'france']
['paris,', 'la', 'défense']
['val-de-marne']
['paris']
['paris']
['paris,', '45.000,00', '€', '-', '70.000,00', '€', '/', 'an']
['la', 'defense']
['massy']
['fontenay-sous-bois']
['paris']
['paris,', '50.000,00', '€', '-', '80.000,00', '€', '/', 'an']
['noisiel']
['île-de-france']
['la', 'defense']
['saint-ouen']
['île-de-france']
['colombes']
['levallois-perret']
['hauts-de-seine']
['la', 'defense']
['paris,', '30.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['la', 'defense']
['paris']
['courbevoie']
['massy']
['levallois-perret']
['boulogne-billancourt']
['paris']
['paris,', 'la', 'défense']
['paris']
['moussy-le-vieux']
['france']
['maisons', 'alfort,', '45.000,00', '€', '-', '50.000,00', '€', '/', 'an']
['paris']
['paris,', '60.000,00', '€', '-', '62.000,00', '€', '/', 'an']
['paris']
['rueil-malmaison']
['paris']
['la', 'defense']
['suresnes']
['saint-ouen']
['rueil', 'malmaison,', '60.000,00', '€', '-', '65.000,00', '€', '/', 'an']
['puteaux']
['paris,', '60.000,00', '€', '-', '70.000,00', '€', '/', 'an']
['paris']
['fontenay-sous-bois']
['gennevilliers,', '60.000,00', '€', '-', '70.000,00', '€', '/', 'an']
['puteaux']
['paris']
['fontenay-sous-bois']
['puteaux']
['levallois-perret']
['levallois-perret']
['gentilly']
['tremblay-en-france']
['neuilly-sur-seine']
['france']
['guyancourt', '(78)', 'face', 'gare', 'de', 'st', 'quentin', 'en', 'yveline']
['moussy-le-vieux']
['saint-ouen']
['île-de-france']
['paris']
['paris,', '45.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['ile-de-france']
['neuilly', 'sur', 'seine,', '42.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['neuilly', 'sur', 'seine,', '40.000,00', '€', '-', '55.000,00', '€', '/', 'an']
['ile-de-france']
['paris']
['lisses,', '57.000,00', '€', '-', '62.000,00', '€', '/', 'an']
['neuilly', 'sur', 'seine,', '40.000,00', '€', '-', '55.000,00', '€', '/', 'an']
['saint-germain-en-laye']
['paris,', '40.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['le', 'plessis-robinson']
['fontenay-sous-bois']
['fontenay-sous-bois']
['paris,', '40.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['paris,', '40.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['france', '-', 'antony', '(92)', '-', 'ile', 'de', 'france']
['paris']
['vélizy-villacoublay']
['paris']
['fontenay-sous-bois']
['poissy']
['île-de-france']
['île-de-france']
['île-de-france']
['paris']
['paris', '9ème', '(75),', '30000', '-', '50000', '€/an', 'selon', 'profil']
['courbevoie']
['île-de-france']
['île-de-france']
['paris']
['paris,', '45.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['paris,', '40.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['paris,', '38.000,00', '€', '-', '56.000,00', '€', '/', 'an']
['la', 'defense']
['la', 'defense']
['île-de-france']
['île-de-france']
['paray', 'vieille', 'poste']
['île-de-france']
['pantin']
['île-de-france']
['paris']
['île-de-france']
['colombes']
['paris,', '50.000,00', '€', '-', '70.000,00', '€', '/', 'an']
['paris,', '50.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['paris,', '38.000,00', '€', '-', '55.000,00', '€', '/', 'an']
['paris']
['île-de-france']
['paris,', '38.000,00', '€', '-', '55.000,00', '€', '/', 'an']
['courbevoie']
['paris']
['paris,', '40.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['palaiseau']
['neuilly-sur-seine,', '45.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['paris']
['paris']
['seine-saint-denis']
['paris', '09', '(75),', '45.000,00', '€', '-', '65.000,00', '€', '/', 'an']
['palaiseau']
['chatillon']
['neuilly', 'sur', 'seine,', '40.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['paris']
['paris', '09', '(75),', '30.000,00', '€', '-', '50.000,00', '€', '/', 'an']
['boulogne-billancourt']
['fontenay-sous-bois']
['paris']
['paris', '20', 'rue', 'hector', 'malot', '(75-hec)']
['paris,', '40.000,00', '€', '-', '60.000,00', '€', '/', 'an']
['ile-de-france']
['paris']
['île-de-france']
['ile', 'de', 'france']
['paris']
['saint-ouen']
['paris']
['fontenay-sous-bois']
['île-de-france']
['paris']
['paris,', '38.000,00', '€', '-', '55.000,00', '€', '/', 'an']
['île-de-france']
['paris', '20', 'rue', 'hector', 'malot', '(75-hec)']
['la', 'defense']
['paris']
['île-de-france']
['paris,', '65.000,00', '€', '-', '70.000,00', '€', '/', 'an']
['bagneux']
['nanterre']
['saint-germain-en-laye']
['île-de-france']
['fontenay-sous-bois']
['vélizy-villacoublay']
['la', 'defense']
['paris']
['île-de-france']
['île-de-france']
['bagneux']
['ile-de-france']
['paris']
['bagneux']
['ile-de-france']
['nanterre']
['saint-denis']
['la', 'defense']
['bagneux']
['fontenay-sous-bois']
['ile-de-france']
['courbevoie']
['fontenay-sous-bois']
['la', 'defense']
['nozay']
['la', 'defense']
['la', 'defense']
['nanterre,', '45.000,00', '€', '-', '55.000,00', '€', '/', 'an']
['ile-de-france']
['bagneux']
['ile-de-france']
['fontenay-sous-bois']
['fontenay-sous-bois']
['nanterre']
['bagneux']
['la', 'defense']
['bagneux']
['bagneux']
['fontenay-sous-bois']
['la', 'defense']
['île-de-france']
['bagneux']
['paris']
['ile-de-france']
['saint-ouen']
['paris']
['boulogne-billancourt']
['neuilly', 'sur', 'seine,', '38.000,00', '€', '-', '50.000,00', '€', '/', 'an']
['saint-ouen']

,Intitulé du poste,Date de publication,lieu,competences,Type de poste,salaire_minimum,salaire_maximum,Nom de la société,Type de contrat
0,data analyst - publicité,2022-12-25,paris,sql t-sql outils,"sept lieues sas, cabinet de recrutement, cdi -...",NaN,NaN,sept lieues sas,cdi
1,data analyst - h/f,2022-12-18,"paris, la défense",support outils agile design big data,"edf france, client final, cdi - temps plein,",NaN,NaN,edf france,cdi
2,customer data analyst (h/f),2022-12-19,paris,crm data quality sql sas python,"hermès, client final, cdi - temps plein,",NaN,NaN,hermès,cdi
3,master data analyst h/f,2022-12-25,moussy-le-vieux,si support sap,"tereos, client final, cdi - temps plein,",NaN,NaN,tereos,cdi
4,portfolio data analyst h/f,2023-01-12,france,outils support decisionnel sql test,"safran-group, client final, cdi - temps plein,",NaN,NaN,safran-group,cdi
...,...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,sap abap progiciel système support,"groupe engie, client final, cdi - temps plein,",NaN,NaN,groupe engie,cdi
226,engie digital - architecte données (h/f),2023-01-12,paris,digital outils securité sécurité t-sql,"groupe engie, client final, cdi - temps plein,",NaN,NaN,groupe engie,cdi
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,test serveur jquery mobile tdd,"francaise des jeux, client final, cdi - temps ...",NaN,NaN,francaise des jeux,cdi
228,data scientist,2022-12-30,neuilly sur seine,nosql unix java machine learning linux,"beezen, esn, cdi - temps plein,",38000.0,50000.0,beezen,cdi
229,datascientist (h/f),2023-01-12,saint-ouen,big data support python réseaux securité,"groupe engie, client final, cdi - temps plein,",NaN,NaN,groupe engie,cdi

In [10]:
df = df.drop('Type de poste', axis=1)
df

,Intitulé du poste,Date de publication,lieu,competences,salaire_minimum,salaire_maximum,Nom de la société,Type de contrat
0,data analyst - publicité,2022-12-25,paris,sql t-sql outils,NaN,NaN,sept lieues sas,cdi
1,data analyst - h/f,2022-12-18,"paris, la défense",support outils agile design big data,NaN,NaN,edf france,cdi
2,customer data analyst (h/f),2022-12-19,paris,crm data quality sql sas python,NaN,NaN,hermès,cdi
3,master data analyst h/f,2022-12-25,moussy-le-vieux,si support sap,NaN,NaN,tereos,cdi
4,portfolio data analyst h/f,2023-01-12,france,outils support decisionnel sql test,NaN,NaN,safran-group,cdi
...,...,...,...,...,...,...,...,...
225,sap fiori developer (h/f),2022-12-19,saint-ouen,sap abap progiciel système support,NaN,NaN,groupe engie,cdi
226,engie digital - architecte données (h/f),2023-01-12,paris,digital outils securité sécurité t-sql,NaN,NaN,groupe engie,cdi
227,quality assurance - lead qa - lead acceptance h/f,2023-01-15,boulogne-billancourt,test serveur jquery mobile tdd,NaN,NaN,francaise des jeux,cdi
228,data scientist,2022-12-30,neuilly sur seine,nosql unix java machine learning linux,38000.0,50000.0,beezen,cdi
229,datascientist (h/f),2023-01-12,saint-ouen,big data support python réseaux securité,NaN,NaN,groupe engie,cdi

In [11]:
# Nettoyage de la colonne Intitulé de poste, mode = data scientist
liste_postes = []
postes = [item for item in df['Intitulé du poste'].str.strip()]
for item in postes:
    if 'business' in item:
        liste_postes.append('business analyst')
    elif 'analyst' in item:
        liste_postes.append('data analyst')
    elif 'scientist' in item:
        liste_postes.append('data scientist')
    elif 'data engineer' in item:
        liste_postes.append('data engineer')
    elif 'chef de projet' in item:
        liste_postes.append('chef de projet')
    elif 'ingénieur' in item:
        liste_postes.append('engineer')
    elif 'architect' in item:
        liste_postes.append('architect')
    elif 'developer' in item:
        liste_postes.append('developer')
    elif 'développeur' in item:
        liste_postes.append('developer')
    elif 'developpeur' in item:
        liste_postes.append('developer')
    elif 'expert' in item:
        liste_postes.append('expert')
    elif 'consultant' in item:
        liste_postes.append('consultant')
    elif 'manager' in item:
        liste_postes.append('manager')
    else:
        liste_postes.append('autres')
    
df['Intitulé du poste'] = liste_postes
df['Intitulé du poste'].value_counts()

autres              51
engineer            40
data analyst        30
business analyst    16
developer           16
data scientist      15
chef de projet      14
consultant          12
architect           11
expert              10
manager              9
data engineer        6
Name: Intitulé du poste, dtype: int64

In [12]:
# formatage du nom de l'entreprise
names = [item for item in df['Nom de la société']]
names
clean_names = []
for name in names:
    if 'societe general' in name:
        clean_names.append('societe general')
    else:
        clean_names.append(name)
df['Nom de la société'] = clean_names
df

,Intitulé du poste,Date de publication,lieu,competences,salaire_minimum,salaire_maximum,Nom de la société,Type de contrat
0,data analyst,2022-12-25,paris,sql t-sql outils,NaN,NaN,sept lieues sas,cdi
1,data analyst,2022-12-18,"paris, la défense",support outils agile design big data,NaN,NaN,edf france,cdi
2,data analyst,2022-12-19,paris,crm data quality sql sas python,NaN,NaN,hermès,cdi
3,data analyst,2022-12-25,moussy-le-vieux,si support sap,NaN,NaN,tereos,cdi
4,data analyst,2023-01-12,france,outils support decisionnel sql test,NaN,NaN,safran-group,cdi
...,...,...,...,...,...,...,...,...
225,developer,2022-12-19,saint-ouen,sap abap progiciel système support,NaN,NaN,groupe engie,cdi
226,architect,2023-01-12,paris,digital outils securité sécurité t-sql,NaN,NaN,groupe engie,cdi
227,autres,2023-01-15,boulogne-billancourt,test serveur jquery mobile tdd,NaN,NaN,francaise des jeux,cdi
228,data scientist,2022-12-30,neuilly sur seine,nosql unix java machine learning linux,38000.0,50000.0,beezen,cdi
229,data scientist,2023-01-12,saint-ouen,big data support python réseaux securité,NaN,NaN,groupe engie,cdi

In [13]:
df.to_csv('clean_data.csv')